body.loggedin {
    padding-top: 50px;
}

body.loggedin .sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

body.loggedin .navbar-fixed-top {
	border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
body.loggedin .sidebar {
	display: none;
}

@media (min-width: 768px) {
	body.loggedin .sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}
}

/* Sidebar navigation */
body.loggedin .nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}
body.loggedin .nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}
body.loggedin .nav-sidebar > .active > a,
body.loggedin .nav-sidebar > .active > a:hover,
body.loggedin .nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}


body.loggedin .main {
	padding: 20px;
}
@media (min-width: 768px) {
	body.loggedin .main {
		padding-right: 40px;
		padding-left: 40px;
	}
}
body.loggedin .main .page-header {
	margin-top: 0;
}

body.loggedin .admin-content{
	padding-bottom: 60px;
}

body.loggedin.admin-invoices .page-header .btn,
body.loggedin.admin-orders .page-header .btn{
	margin: 0 2.5px;
}
body.loggedin.admin-invoices .page-header .btn:last-of-type,
body.loggedin.admin-orders .page-header .btn:last-of-type{
	margin-right: 0;
}

.order_line .name{
	text-transform: capitalize;
}

body.loggedin .footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 25px 0;
	height: 60px;
	background-color: #f5f5f5;
}

.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 25px 0;
	height: 60px;
	background-color: #f5f5f5;
}

/*
 * Placeholder dashboard ideas
 */
body.loggedin .placeholders {
	margin-bottom: 30px;
	text-align: center;
}
body.loggedin .placeholders h4 {
	margin-bottom: 0;
}
body.loggedin .placeholder {
	margin-bottom: 20px;
}
body.loggedin .placeholder img {
	display: inline-block;
	border-radius: 50%;
}









/* Tablesorter */

table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

th.header {
	background-image: url(../images/small.gif);	
	cursor: pointer;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 20px;
	border-right: 1px solid #dad9c7;
	margin-left: -1px;
}

th.headerSortDown {
	background-image: url(../images/small_desc.gif);
	background-color: #3399FF;
}

th.headerSortUp {
	background-image: url(../images/small_asc.gif);
	background-color: #3399FF;
}
div.tablesorterPager {
	padding: 10px 0 10px 0;
	background-color: #D6D2C2;
	text-align: center;
}
div.tablesorterPager span {
	padding: 0 5px 0 5px;
}
div.tablesorterPager input.prev {
	width: auto;
	margin-right: 10px;
}
div.tablesorterPager input.next {
	width: auto;
	margin-left: 10px;
}
div.tablesorterPager input {
	font-size: 8px;
	width: 50px;
	border: 1px solid #330000;
	text-align: center;
}